<!DOCTYPE html>
<html>

<head>
    <title>Mealz</title>
</head>

<body>
<div id="header">
    <a href="new_entry">
    <div id="goto_new"><p> New </p> </div>
    </a>
    <a href="history">
    <div id="goto_old"><p> Old </p> </div>
    </a>
</div>
<div id="header-spacer">
</div>
{% block body %}
{% endblock %}
</body>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/navigation.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/form.css') }}" />
<script>
document.addEventListener("DOMContentLoaded", function(){
  document.getElementById("header-spacer").style.height=""+(document.getElementById("header").offsetHeight+5)+"px";
});

</script>
</html>