<!DOCTYPE html>
<html>

<style>
html, body{
    padding: 0;
    margin: 0;
}
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/index.css') }}" />
<head>
    <title>Mealz</title>
</head>

<body>
<div id="body">
    <div id="goto_new" class="button"> <p> New </p> </div>
    <div id="lobby1" class="lobby" style="display:none">
        <div id="lobby1body" class="lobbybody">
            <form role="form" method="POST" action="new_room">
                <div id="newroom" class="roombutton">
                    +
                    <textarea id="newroom_name" name="roomname" rows="1" maxlength="30" style="display:none; width: 100%"></textarea>
                    <button id="newroom_submit" type="submit">Create</button>
            </form>
                </div>
            {% for room in rooms %}
                <a href="{{room.id}}/new_entry">
                <div class="roombutton"> <span>{{ room.id }}. {{ room.name }}</span> <span>{{ room.members }} members</span></div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="lobby2" class="lobby" style="display:none">
        <div id="lobby2body" class="lobbybody">
            {% for room in rooms %}
                <a href="{{room.id}}/history">
                <div class="roombutton"> <span>{{ room.id }}. {{ room.name }}</span> <span>{{ room.members }} members</span></div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="goto_old" class="button"> <p> Old </p> </div>
    </div>
</div>
</body>

<script>
    var callback = function callback(){
        var goto_old = document.getElementById("goto_old");
        var goto_new = document.getElementById("goto_new");
        var lobby1 = document.getElementById("lobby1");
        var lobby2 = document.getElementById("lobby2");
        goto_old.addEventListener("click",function(e){
            if (lobby2.style.display=="none"){
                lobby2.style.display="flex";
                goto_new.style.display="none";
            }
            else{
                lobby2.style.display="none";
                goto_new.style.display="flex";
            }
        });
        goto_new.addEventListener("click",function(e){
            if (lobby1.style.display=="none"){
                lobby1.style.display="flex";
                goto_old.style.display="none";
            }
            else{
                lobby1.style.display="none";
                goto_old.style.display="flex";
            }
        });
        document.getElementById("newroom").addEventListener("click",function(){
            document.getElementById("newroom_name").style.display="inline";
            document.getElementById("newroom_submit").style.display="inline";
        });
    }
    document.addEventListener("DOMContentLoaded", callback);
</script>
</html>