<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
    <form role="form" method="POST" action="new_entry">
        Date <span style="color:red; text-decoration:bold">*</span><input type="date" name="date" required> <br>
        Description <br>
        <textarea rows="10" cols="50" name="description" value="Description"></textarea><br>
        Recipients
        <div class="indented">
        {% for name in names %}
            <label class="container">{{ name }}
                <input type="checkbox" class="participant" id="{{ name }}" name="{{ name }}">
                <span class="checkmark"></span>
            </label>
        {% endfor %}
        </div>
        Supplier
        <select class="styled-select slate" name="recipient" id="recipient">
            {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select><br>
        <!--
        Allison <input type="checkbox" name="Allison"> <br>
        Dan <input type="checkbox" name="Dan"> <br>
        Ivan <input type="checkbox" name="Ivan"> <br>
        Justin <input type="checkbox" name="Justin"> <br>
        Ellis <input type="checkbox" name="Ellis"> <br>
        Melvin <input type="checkbox" name="Melvin"> <br>
        -->
        Total Cost <span style="color:red; text-decoration:bold">*</span><input type="number" id="total" name="total" step="0.01" value="0.00" required> <br>
        Individual Cost <input type="number" id="individual" name="individual" step="0.01" readonly> <br>
        <input type="submit" value="submit">
    </form>
<script>
    var participants=0;
    var participant_inputs = document.getElementsByClassName("participant");
    var updateCost = function updateCost(){
        document.getElementById("individual").value = document.getElementById("total").value/(participants+1);
    };
    var updateRoster = function updateRoster(){
        participants=0;
        for (var i=0; i<participant_inputs.length; i++){
            if (participant_inputs[i].checked){
                participants++;
            }
        }
        updateCost();
    };
    var updateSupplier = function updateSupplier(){
        document.getElementById(document.getElementById("recipient").value).checked=false;
        for (var i=0; i<participant_inputs.length; i++){
            participant_inputs[i].disabled=false;
        }
        document.getElementById(document.getElementById("recipient").value).disabled=true;
        updateRoster();
        updateCost();
    }
    for (var i=0; i<participant_inputs.length; i++){
        participant_inputs[i].addEventListener("click",function(){
            updateRoster();
        });
    }
    document.getElementById("total").addEventListener("blur",function(){
        updateCost();
    });
    document.getElementById("recipient").addEventListener("change",function(){
        updateSupplier();
    });
    updateSupplier();
</script>
{% endblock %}